.work-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    max-height: 90%;
    font-family: 'Coolvetica';
    font-size: 2rem;
    letter-spacing: 0.15cm;
    overflow-y: auto;
  }

  h1 {
    color: #000000;
  }

  .project-container {
    display: inline-flex;
  }

  .projects-zone {
    border: 0.1rem solid #000;
    border-radius: 10px;
    width: 40vh;
    height: 25vh;
    margin: 10px;
    margin-left: 0;

    p:hover {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.4);
    }
  }

  p {
    font-family: 'Helvetica';
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 0.1cm;
    text-align: center;
    align-self: center;
    color: #000;
    text-decoration: underline;
  }
}
